<h1 class="mb">Introduction</h1>
<p class="mb">Flurry.js created by <a href="https://github.com/IzyanzZ">IzyanzZ</a></p>
<p class="mb">Flurry.js Using :</p>
<br>
<code class="mb">
    Express JS <br>
    EJS (Embedded Javascript )
</code><br><br>
<h1 class="mb">Getting Started</h1><br>
<code>Edit app/route/index.js</code>